/* --------------------DEALS-------------------- */
.deals {
	padding-top: 110px;
	padding-bottom: 110px;
}
.deals__container {}

.deals__header {
	margin-bottom: 50px;
}

.deals__tabs {}

.header-deals {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	align-items: center;
}

.header-deals__content {
	flex: 1 1 auto;
}

.header-deals__title {}

.header-deals__title:not(:last-child) {
	margin-bottom: 15px;
}

.header-deals__text {
	max-width: 470px;
	line-height: 150%;
	color: #000;
}

.header-deals__link {
	background: #f85a47;
	display: inline-block;
	font-weight: 500;
	font-size: 17px;
	line-height: 135%;
	text-align: center;
	color: #fff;
	padding: 22px 33px;
	border-radius: 5px;
	box-shadow: 0 2px 3px 0 rgba(248, 90, 71, 0.02), 0 8px 7px 0 rgba(248, 90, 71, 0.03), 0 20px 13px 0 rgba(248, 90, 71, 0.04), 0 39px 25px 0 rgba(248, 90, 71, 0.04), 0 65px 47px 0 rgba(248, 90, 71, 0.05), 0 100px 80px 0 rgba(248, 90, 71, 0.07);
	transition: all 0.3s ease;

}

.header-deals__link:hover {
	background-color: #D53B27;
}

.tabs-deals {}

.tabs-deals__nav {
	display: flex;
	column-gap: 50px;
	row-gap: 10px;
	flex-wrap: wrap;
	margin-bottom: 55px;
}

.tabs-deals__button {
	font-size: 19px;
	line-height: 136%;
	color: #000;
	cursor: pointer;
	position: relative;
	background-color: transparent;
	transition: color 0.3s ease;
}

.tabs-deals__button:hover {
	color: #f85a47;
}

.tabs-deals__button::after {
	content: "";
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 0;
	height: 1px;
	transition: width 0.3s ease;
	background-color: #f85a47;
}

.tabs-deals__button:hover::after {
	width: 100%;
}

.tabs-deals__button.active {
	color: #f85a47;
}

.tabs-deals__button.active::after {
	width: 100%;
}

.tabs-deals__body {}

.tabs-deals__item {
	display: none;
}

.tabs-deals__item.active {
	display: block;
}

.item-tabs {}

.item-tabs__items {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.item-tabs__item {
	position: relative;
}

.item-tabs__options {
	position: absolute;
	z-index: 2;
	left: 14px;
	top: 14px;
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
}

.item-tabs__option {
	font-size: 12px;
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
	padding: 6px 12px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.item-tabs__option:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

.item-tabs__image {
	position: relative;
	display: block;
	padding-bottom: 81%;
	border-radius: 5px;
	overflow: hidden;
}

.item-tabs__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.item-tabs__image:hover img {
	transform: scale(1.1);
}

@media (max-width: 991.98px) {
	.deals {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

@media (max-width: 767.98px) {
	.deals {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.header-deals__link {
		width: 100%;
	}
}