/* --------------------REVIEWS-------------------- */
.reviews {
	padding-top: 110px;
	padding-bottom: 110px;
}
@media (max-width: 991.98px) {
	.reviews {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}
@media (max-width: 767.98px) {
	.reviews {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
.reviews__container {}
.reviews__title {
	margin-bottom: 50px;
	max-width: 570px;
}

.reviews__items {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
.reviews__item {}

.item-reviews {
	color: inherit;
	padding: 50px 40px;
	background: #fff;
	border: 1px solid #ebebeb;
	border-radius: 10px;
	transition: all 0.3s ease;
}
.item-reviews:hover {
	border: 1px solid transparent;
	box-shadow: 3px 44px 54px 0 rgba(0, 0, 0, 0.08), 0 2px 3px 0 rgba(0, 0, 0, 0.01), 0 8px 7px 0 rgba(0, 0, 0, 0.01), 0 20px 13px 0 rgba(0, 0, 0, 0.01), 0 39px 25px 0 rgba(0, 0, 0, 0.02), 0 65px 47px 0 rgba(0, 0, 0, 0.02), 0 100px 80px 0 rgba(0, 0, 0, 0.03);
}
.item-reviews__raiting {
	margin-bottom: 33px;
}
.item-reviews__text {
	line-height: 175%;
	margin-bottom: 50px;
}
.item-reviews__author {}

.author-item-reviews {
	display: flex;
	gap: 20px;
	align-items: center;
}
.author-item-reviews__avatar {
	flex: 0 0 48px;
	border-radius: 50%;
	overflow: hidden;
}
.author-item-reviews__body {}
.author-item-reviews__name {
	font-weight: 700;
	line-height: 135%;
}
.author-item-reviews__location {
	color: #666;
	font-size: 14px;
	line-height: 135%;
}

.reviews__footer {
	padding-top: 85px;
}

.footer-reviews {
	display: flex;
	gap: 100px;
}

@media (max-width: 991.98px) {
	.footer-reviews{
		flex-wrap: wrap;
		row-gap: 30px;
	}
}

.footer-reviews__partners {
	flex: 1 1 auto;
}

.partners-footer-reviews {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
}
.partners-footer-reviews__item {}

.footer-reviews__info {
	flex: 0 0 314px;
	line-height: 150%;
}
.footer-reviews__info a {
	color: #2cbde7;
	text-decoration: underline;
}
.footer-reviews__info a:hover {
	text-decoration: none;
}
@media (max-width: 767.98px) {
	.reviews__title {
		margin-bottom: 30px;
	}
	.item-reviews {
		padding: 30px 20px;
	}
	.item-reviews__raiting {
		margin-bottom: 25px;
	}
	.item-reviews__text {
		margin-bottom: 25px;
	}
	.reviews__footer {
		padding-top: 30px;
	}
}